.page-layout {
  display: flex;
  flex-direction: column;
  background: center / cover no-repeat
    url("https://portfolio-site-imgs.s3.us-east-2.amazonaws.com/background.jpg");
  background-attachment: fixed;

  .page-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;

    .page-about-section,
    .page-projects-section,
    .page-contact-section {
      width: 100%;
      background-color: $bg-black;
    }

    .section-buffer {
      width: 100%;
      height: 20rem;
      background-color: $bg-black-t;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .section-heading {
      text-align: center;
      text-transform: uppercase;
      font-size: 2rem;
      color: $off-white;
      font-family: "Raleway";
    }

    .sub-heading {
      font-size: 1.5rem;
      color: $l-purp;
      font-family: "Roboto-M";
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px),
  only screen and (min-device-width: 0px) and (max-width: 1024px) {
  .page-layout {
    background-image: none;
    .page-content {
      min-width: 0;
      .section-buffer {
        height: 10rem;
        background-color: $d-purp;
      }
    }
  }
}
