@import "./ProjectCard/ProjectCard";
@import "./ProjectInfo/ProjectInfo";

.Projects-container {
  @extend %section;
  color: $off-white;
  padding: 1rem 0;

  .Projects-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;

    .Projects-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px),
  only screen and (min-device-width: 0px) and (max-width: 1024px) {
  .Projects-container {
    width: 90%;

    .Projects-row {
      .Projects-col {
        width: 90vw;
      }
    }
  }
}
