.traditional-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 2rem 0;

  .projects-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    height: 100%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px),
  only screen and (min-device-width: 0px) and (max-width: 1024px) {
  .traditional-projects {
    width: 90%;
  }
}
