.project-card-container {
  height: 18rem;
  width: 18rem;
  border: 3px solid rgb(212, 212, 212);
  border-radius: 20px;
  margin: 5px;
  overflow: hidden;

  .projectcard-content {
    position: relative;
    height: 100%;
    width: 100%;

    .card-img {
      position: absolute;
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .projectcard-info {
      display: none;
    }
  }
}

@media (hover: hover) {
  .project-card-container:hover,
  .project-card-container:focus {
    .projectcard-content {
      background-color: $bg-black-2;
      .card-img {
        display: none;
      }

      .projectcard-info {
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;
        height: 100%;

        h3 {
          text-align: center;
          margin-block-end: 0;
          margin-block-start: 0.5rem;
        }

        .card-tech {
          font-weight: bold;
          font-size: 0.9rem;
        }

        p {
          margin-block-end: 0.5rem;
          margin-block-start: 0.5rem;
        }

        .card-links {
          margin: auto auto 1rem auto;

          a {
            margin: auto 1rem;
            text-decoration: none;
            color: black;
            background: $traditional-blue;
            border: 2px solid $traditional-black;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 2px 4px;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  .fun-bg {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 0px) and (max-width: 992px),
  only screen and (min-device-width: 0px) and (max-width: 992px) {
  .project-card-container {
    max-width: 18rem;
    max-height: 18rem;
  }
  .project-card-container:hover,
  .project-card-container:focus {
    .projectcard-content {
      background-color: $bg-black-2;
      .card-img {
        display: none;
      }

      .projectcard-info {
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;
        height: 100%;

        h3 {
          text-align: center;
          margin-block-end: 0;
          margin-block-start: 0.5rem;
        }

        .card-tech {
          font-weight: bold;
          font-size: 0.9rem;
        }

        p {
          margin-block-end: 0.5rem;
          margin-block-start: 0.5rem;
        }

        .card-links {
          margin: auto auto 1rem auto;

          a {
            margin: auto 1rem;
            text-decoration: none;
            color: black;
            background: $traditional-blue;
            border: 2px solid $traditional-black;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 2px 4px;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  .fun-bg {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .project-card-container {
    max-width: 18rem;
    max-height: 18rem;
  }
  .project-card-container:hover,
  .project-card-container:focus {
    .projectcard-content {
      background-color: $bg-black-2;
      .card-img {
        display: none;
      }

      .projectcard-info {
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;
        height: 100%;

        h3 {
          text-align: center;
          margin-block-end: 0;
          margin-block-start: 0.5rem;
        }

        .card-tech {
          font-weight: bold;
          font-size: 0.9rem;
        }

        p {
          margin-block-end: 0.5rem;
          margin-block-start: 0.5rem;
        }

        .card-links {
          margin: auto auto 1rem auto;

          a {
            margin: auto 1rem;
            text-decoration: none;
            color: black;
            background: $traditional-blue;
            border: 2px solid $traditional-black;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 2px 4px;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  .fun-bg {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
