.FeaturedPostsWidget-container {
  background-color: $bg-blog-ui;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: auto;

  h2 {
    color: $off-white;
    margin: 0.5rem 1rem 1rem 1rem;
  }

  .FeaturedPostsWidget-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px),
  only screen and (min-device-width: 0px) and (max-width: 768px) {
  .FeaturedPostsWidget-container {
    margin: auto 0;
    border-radius: 0;
    h2 {
      text-align: center;
    }

    .FeaturedPostsWidget-content {
      flex-direction: column;
    }
  }
}
