.CarouselActions-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  margin: auto;

  .CarouselActions-title {
    margin: auto;
  }

  .CarouselActions-left,
  .CarouselActions-right {
    width: 3rem;
  }
  .CarouselActions-left {
    margin-right: auto;
    margin-left: 1rem;
  }
  .CarouselActions-right {
    margin-left: auto;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px),
  only screen and (min-device-width: 0px) and (max-width: 1024px) {
  .CarouselActions-container {
    .CarouselActions-title {
      margin: auto;
    }

    .CarouselActions-left {
      margin-left: 0rem;
    }
    .CarouselActions-right {
      margin-right: 0rem;
    }
  }
}
