.center-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: transparent;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  transition: 0.2s;
  animation: light 2s ease 1s forwards, blink 5s linear 3s infinite;
  overflow: hidden;
  border-radius: 0.5rem;
  text-align: center;

  @keyframes light {
    100% {
      opacity: 1;
      color: white;
      background: $traditional-blue;
      box-shadow: 0 0 20px $traditional-blue, 0 0 50px $traditional-blue,
        0 0 90px $traditional-blue;
      transition-delay: 1s;
    }
  }

  @keyframes blink {
    22% {
      opacity: 100%;
    }
    25% {
      opacity: 0.25;
    }
    28% {
      opacity: 100%;
    }
    30% {
      opacity: 25%;
    }
    32% {
      opacity: 100%;
    }
    60% {
      opacity: 100%;
    }
    63% {
      opacity: 0.25;
    }
    66% {
      opacity: 100%;
    }
    100% {
      opacity: 100%;
    }
  }
}

.center-name {
  span {
    position: absolute;
    display: block;
  }

  span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $traditional-blue);
    animation: ray1 1s forwards;
  }
  span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $traditional-blue);
    animation: ray2 1s forwards;
    animation-delay: 0.5s;
  }
  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $traditional-blue);
    animation: ray3 1s forwards;
    animation-delay: 0.25s;
  }
  span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, $traditional-blue);
    animation: ray4 1s forwards;
    animation-delay: 0.75s;
  }
}

@keyframes ray1 {
  100% {
    left: 100%;
  }
}
@keyframes ray2 {
  100% {
    right: 100%;
    transition-delay: 0.5s;
  }
}
@keyframes ray3 {
  100% {
    top: 100%;
    transition-delay: 0.25s;
  }
}
@keyframes ray4 {
  100% {
    bottom: 100%;
    transition-delay: 0.75s;
  }
}

@media only screen and (min-width: 0px) and (max-width: 992px),
  only screen and (min-device-width: 0px) and (max-width: 992px) {
  .center-name {
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
  }
}
