.temp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 3rem;
  font-weight: bold;
  color: $traditional-blue;
  text-align: center;
}
