.SingleBlogPost-container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: auto auto 1rem auto;
  background-color: $bg-blog-ui;
  padding: 1rem;
  border-radius: 0.3rem;
  box-sizing: border-box;
  color: $off-white;

  .back-to-blog {
    @extend %nav-link;
  }

  @media (hover: hover) {
    .back-to-blog:hover {
      background-color: $hover-gray;
      color: $l-purp;
    }
  }

  a {
    color: $link-text;
  }

  .SinglePost-intro {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 1.7rem;
      margin-block-start: 0.5rem;
      margin-block-end: 1.5rem;
    }

    .SinglePost-intro-img {
      margin: 1rem auto;

      max-height: 100%;
      height: auto;
      max-width: 100%;
      width: auto;
    }

    .SinglePost-intro-imgcaption {
      text-align: center;
    }
  }

  .SinglePost-body {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px),
  only screen and (min-device-width: 0px) and (max-width: 768px) {
  .SingleBlogPost-container {
    border-radius: 0;
    margin: auto;
    position: relative;

    .back-to-blog {
      position: fixed;
      top: 0.5rem;
      z-index: 11;
    }
    .SinglePost-intro {
      margin-top: 3rem;
      .SinglePost-intro-img {
        height: 15rem;
      }
    }
  }
}
