.about-container {
  @extend %section;
  padding: 2rem 0;

  .about-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .about-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;

      .about-img {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .sub-heading {
        margin-right: auto;
      }

      p {
        color: $off-white;
        font-size: 1.2rem;
        font-family: "Roboto-R";
        margin: 1rem auto;
        padding-right: 20%;
        a {
          color: $link-text;
          text-decoration: none;
        }
      }

      &:first-of-type {
        .sub-heading {
          margin-right: auto;
          margin-left: auto;
        }
        p {
          width: 70%;
          padding-right: 0;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px),
  only screen and (min-device-width: 0px) and (max-width: 1024px) {
  .about-container {
    width: 90%;
    .about-row {
      width: 100%;
      .about-col {
        width: 100%;

        .about-img {
          height: 16rem;
          width: 16rem;
        }

        p {
          padding-right: 0;
        }

        &:first-of-type {
          .sub-heading {
            margin-right: auto;
            margin-left: auto;
          }
          p {
            width: 70%;
            padding-right: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px),
  only screen and (min-device-width: 0px) and (max-width: 768px) {
  .about-container {
    width: 90%;
    .about-row {
      width: 100%;
      .about-col {
        width: 100%;

        .sub-heading {
          margin-left: auto;
          margin-right: auto;
        }

        p {
          width: 100%;
        }
        &:first-of-type {
          p {
            width: 100%;
          }
        }
      }
    }
  }
}
