.about-background {
  height: 100%;
  width: 100%;
  animation: appear 0.5s steps(44, end);
  animation-delay: 0s;
  animation-fill-mode: forwards;

  @keyframes appear {
    0% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
      margin-top: 20px;
      width: calc(100% / 1.2);

      .blurb {
        font-family: "PressStart2P";
        background-color: $bg-black;
        border: 3px solid $border-gray;
        border-radius: 20px;
        padding: 4px;
        height: auto;
        width: auto;
        margin: 0.5rem;

        .portrait {
          height: 247px;
          width: 247px;
          background-color: $bg-black;
          border: 3px solid $border-gray;
          border-radius: 20px;
          margin: 1rem;
          float: left;
        }

        h3 {
          color: white;
          padding: 0 0.5rem;
          text-align: center;
        }

        p {
          font-size: 16px;
          color: white;
          line-height: 1.4;
          padding: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 992px),
  only screen and (min-device-width: 0px) and (max-width: 992px) {
  .about-background {
    .about-content {
      height: 100%;

      .about-row {
        margin-top: 0px;
        margin-bottom: 50px;
        height: auto;
        overflow-y: auto;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 610px),
  only screen and (min-device-width: 0px) and (max-width: 610px) {
  .about-background {
    .about-content {
      .about-row {
        width: 100%;
        .blurb {
          .portrait {
            float: none;
            margin: 0.5rem auto;
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .about-background {
    .about-content {
      height: 100%;

      .about-row {
        margin-top: 0px;
        margin-bottom: 100px;
        height: 100%;
        width: 100%;
      }
    }
  }
}
