.about-background {
  height: 100%;
  width: 100%;
  animation: appear 0.5s steps(44, end);
  animation-delay: 0s;
  animation-fill-mode: forwards;

  @keyframes appear {
    0% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  .about-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    padding: 1rem;
    margin: auto;
    width: 85%;

    .blurb {
      font-family: "PressStart2P";
      background-color: $bg-black;
      border: 3px solid $border-gray;
      border-radius: 20px;
      padding: 4px;
      width: auto;
      margin: auto;

      .portrait {
        height: 247px;
        width: 247px;
        background-color: $bg-black;
        border: 3px solid $border-gray;
        border-radius: 20px;
        margin: 1rem;
        float: left;
      }

      h3 {
        color: white;
        padding: 0 0.5rem;
        text-align: center;
      }

      p {
        font-size: 16px;
        color: white;
        line-height: 1.4;
        padding: 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px),
  only screen and (min-device-width: 0px) and (max-width: 1024px) {
  .about-background {
    overflow-y: scroll;
    .about-row {
      width: 95%;
      padding: 1rem 0;
      margin-bottom: 56px;

      .blurb {
        .portrait {
          float: none;
          margin: 0.5rem auto;
          display: block;
        }
      }
    }
  }
}
