.contact-background {
  height: 100%;
  width: 100%;
  animation: appear 0.5s steps(44, end);
  animation-delay: 0s;
  animation-fill-mode: forwards;

  @keyframes appear {
    0% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  .contact-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    max-width: 1200px;
    height: 100%;

    .contact-heading {
      text-align: center;
      color: white;
      font-family: "PressStart2P";
      line-height: 1.4;
    }

    .contact-social {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: black;

      i {
        color: white;
        font-size: 5rem;
        padding: 8px;
        cursor: pointer;
      }
    }
  }
}

@media (hover: hover) {
  .contact-social i:hover {
    animation: grow 1s step-end infinite;
    color: $ui-yellow;
  }
  .contact-list i:hover {
    animation: grow 1s step-end infinite;
    color: $ui-yellow;
  }
}

@keyframes grow {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px),
  only screen and (min-device-width: 0px) and (max-width: 1024px) {
  .contact-background {
    overflow-y: scroll;

    .contact-column {
      width: 100%;
      margin-bottom: 56px;
      padding: 1rem 0;

      .contact-heading {
        font-size: 1rem;
        margin: 0.5rem;
      }

      .contact-social {
        margin-top: 1rem;
        i {
          color: white;
          font-size: 4rem;
          padding: 8px;
          cursor: pointer;
        }
      }
    }
  }
}
