.contact-background {
    height: 100%;
    width: 100%;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

.contact-heading {
    text-align: center;
    color: white;
    font-family: 'PressStart2P';
}

.contact-list, .contact-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.contact-list i {
    font-size: 50px;
    padding-right: 1rem;
    color: white;
}

.contact-list span {
    font-size: 28px;
    color: white;
    font-family: 'Pxlvetica';
}

.contact-social i {
    color: white;
    font-size: 5em;
    padding: 8px;
    cursor: pointer;
}

@media (hover: hover) {
    .contact-social i:hover {
        animation: grow 1s step-end infinite;
        color: rgba(242, 255, 122);
    }
}

@keyframes grow {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.0);
    }
}

@media only screen and (min-width: 0px) and (max-width: 900px),
only screen and (min-device-width: 0px) and (max-width: 900px) {
    .contact-background {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
    }
    
    .contact-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .contact-heading h2 {
        font-size: 24px;
    }

    .contact-list i {
        font-size: 30px;
        padding-right: 1rem;
        color: white;
    }
    
    .contact-list span {
        font-size: 22px;
    }
    
    .contact-social i {
        color: white;
        font-size: 4em;
        padding: 8px;
        cursor: pointer;
    }
}