.main-nav {
    position: relative;
    bottom: 50px;
    text-align: center;
    z-index: 4;
}

.mobile-nav, .mobile-arrow-nav {
    display: none;
}

.main-nav-link {
    text-decoration: none;
    font-family: 'PressStart2P';
    font-size: 18px;
    color: white;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 4px 8px;
    margin: 0 6px;
}

.active {
    text-decoration: none;
    font-family: 'PressStart2P';
    font-size: 18px;
    color: rgba(242, 255, 122);
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 4px 8px;
    border: 2px solid rgba(242, 255, 122, 0.9);
    scale: 1.1;
}

a:hover {
    text-decoration: none !important;
    color: rgba(242, 255, 122) !important;
}

@media (hover: hover) {
    .main-nav-link:hover {
        color: rgba(242, 255, 122);
        animation: grow 1s step-end infinite;
        text-decoration: none;
    }

    .active:hover {
        animation: none;
    }
}

@keyframes grow {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.0);
    }
}

@media only screen and (min-width: 0px) and (max-width: 992px),
only screen and (min-device-width: 0px) and (max-width: 992px) {
    .main-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
    }

    .navbar-brand {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .navbar-brand img {
        width: 40px;
        height: 40px;
    }

    .active {
        font-size: 16px;
        background-color: transparent;
        color: rgba(242, 255, 122);
        border: none;
        text-decoration: none !important;
    }

    .navbar-nav a {
        color: white;
        font-family: 'PressStart2P';
        padding: 4px 8px;
    }

    .navbar-nav a:hover {
        color: rgba(242, 255, 122);
    }

    .mobile-arrow-nav {
        display: block;
        position: fixed;
        text-align: center;
        width: 100%;
        bottom: 0;
    }

    .arrow-nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        background-color: rgba(0, 0, 0);
    }

    .arrow-nav-page {
        color: white;
        font-family: 'PressStart2P';
    }

    .arrow-nav-button {
        font-family: 'PressStart2P';
        font-size: 20px;
        color: white;
        background-color: rgba(255, 255, 255, .2);
        border-radius: 10px;
        padding: 4px 8px;
    }

    .end {
        color: rgb(228, 3, 3)
    }

    #left-button {
        margin-right: auto;
    }

    #right-button {
        margin-left: auto;
    }

    #basic-navbar-nav {
        text-align: center;
    }

    #basic-navbar-nav a {
        margin: auto;
    }
}