@import "./HashLinksNav/HashLinksNav";
@import "./MobileNav/MobileNav";
@import "./MobileMenuButton/MobileMenuButton";

.Header-container {
  width: 100%;
  position: relative;
  background-color: $bg-black-t;
  .Header-content {
    position: relative;
    display: flex;
    align-items: center;
    height: 3.5rem;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    z-index: 10;
  }
}

.fixed {
  position: fixed;
  background-color: transparent;
}

@media only screen and (min-width: 0px) and (max-width: 1024px),
  only screen and (min-device-width: 0px) and (max-width: 1024px) {
  .Header-container {
    position: fixed;
    background-color: transparent;
    z-index: 10;
    .Header-content {
      position: relative;
    }
  }
}
