@import "./HashLinksNav/HashLinksNav";
@import "./MobileNav/MobileNav";
@import "./MobileMenuButton/MobileMenuButton";

.Header-container {
  width: 100%;
  position: fixed;
  z-index: 10;
  .Header-content {
    position: relative;
    display: flex;
    align-items: center;
    height: 3.5rem;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    z-index: 10;
  }
}
