.fixed {
  position: fixed;
  width: 100%;
  background-color: transparent !important;

  .header-container {
    a {
      background-color: $bg-black;
    }
  }
}

.header-z {
  background-color: $bg-black;
  z-index: 1;
  .hash-links-container-mobile {
    display: none;
  }
  .header-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 3.5rem;
    z-index: 10;
    width: 100%;
    max-width: 1500px;
    margin: auto;

    .traditional-mobile-menu-container {
      display: none;
    }

    .toggle-container {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      z-index: 5;

      a {
        text-decoration: none;
        font-weight: bold;
        font-family: "Roboto-R";
        color: $traditional-blue;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 0.5rem;
      }

      @media (hover: hover) {
        a:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }

    .hash-links-container {
      margin-left: auto;

      a {
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 0.5rem;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: "Raleway";
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 0.5rem;
      }

      @media (hover: hover) {
        a:hover {
          background-color: rgba(255, 255, 255, 0.2);
          color: $traditional-blue;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1024px),
  only screen and (min-device-width: 0px) and (max-width: 1024px) {
  .header-z {
    z-index: 2;
    background-color: $traditional-black;
    .header-container {
      background-color: $traditional-black;

      .hash-links-container {
        display: none;
      }
    }

    .hash-links-container-mobile {
      display: block;
      position: absolute;
      width: 100%;
      transform: translateY(-224px);
      transition: 0.7s;
      background-color: $traditional-black;
      z-index: -1;

      .hash-links-menu-mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 14rem;
        z-index: -1;
        border-top: 1px solid rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);

        a {
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          margin: 0.5rem 1rem;
          color: white;
          font-size: 1.2rem;
          font-weight: bold;
          z-index: -1;
          font-family: "Raleway";
        }
      }
    }

    .open-container {
      position: absolute;
      width: 100%;
      transform: translateY(0px);
      transition: 0.7s;
      background-color: $traditional-black;
      z-index: 3;

      .open-menu {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 14rem;
        z-index: 3;

        a {
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          margin: 0.5rem 1rem;
          color: white;
          font-size: 1.2rem;
          font-weight: bold;
          z-index: 3;
        }
      }
    }

    .traditional-mobile-menu-container {
      display: block !important;
      margin-left: auto;
      margin-right: 2rem;
      z-index: 5;
    }
  }
}
