body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Diablo_Heavy';
  src: local('Diablo_Heavy'), url(./Fonts/Diablo_Heavy.ttf) format('truetype');
}

@font-face {
  font-family: 'Diablo_Light';
  src: local('Diablo_Light'), url(./Fonts/Diablo_Light.ttf) format('truetype');
}

@font-face {
  font-family: 'formal_436_bt';
  src: local('formal_436_bt'), url(./Fonts/formal_436_bt.ttf) format('truetype');
}

@font-face {
  font-family: 'PressStart2P';
  src: local('PressStart2P'), url(./Fonts/PressStart2P.ttf) format('truetype');
}

@font-face {
  font-family: 'Pxlvetica';
  src: local('Pxlvetica'), url(./Fonts/Pxlvetica.ttf) format('truetype');
}