$bg-black: rgb(45, 45, 45);
$bg-black-t: rgba(0, 0, 0, 0.5);
$border-gray: rgba(255, 255, 255, 0.6);
$hover-gray: rgba(255, 255, 255, 0.2);
// text color
$off-white: rgb(230, 230, 230);
// link/button hover and sub-header color
$l-purp: rgb(162, 162, 238);
// buffer-section background on mobile
$d-purp: rgb(80, 80, 140);
