$ui-yellow: rgb(242, 255, 122);
$bg-black: rgba(0, 0, 0, 0.5);
$bg-black-2: rgba(0, 0, 0, 0.15);
$border-gray: rgba(255, 255, 255, 0.7);

$traditional-black: rgb(45, 45, 45);
$traditional-bg-black: rgba(0, 0, 0, 0.6);
$traditional-blue: rgb(162, 162, 238);
$traditional-d-blue: rgb(97, 97, 170);
$traditional-off-white: rgb(233, 233, 233);
