$bg-black: rgb(45, 45, 45);
$bg-black-l: rgb(55, 55, 55);
$bg-black-t: rgba(0, 0, 0, 0.5);
$bg-mobile-menu: rgba(0, 0, 0, 0.8);
$border-gray: rgba(255, 255, 255, 0.6);
$hover-gray: rgba(255, 255, 255, 0.2);
// text color
$off-white: rgb(230, 230, 230);
// link text color
$link-text: rgb(27, 107, 255);
// link/button hover and sub-header color
$l-purp: rgb(162, 162, 238);
// buffer-section background on mobile
$d-purp: rgb(80, 80, 140);
// blog
$bg-single-post: rgb(25, 25, 25);
