@font-face {
  font-family: "Diablo_Heavy";
  src: local("Diablo_Heavy"), url(../fonts/Diablo_Heavy.ttf) format("truetype");
}

@font-face {
  font-family: "Diablo_Light";
  src: local("Diablo_Light"), url(../fonts/Diablo_Light.ttf) format("truetype");
}

@font-face {
  font-family: "formal_436_bt";
  src: local("formal_436_bt"),
    url(../fonts/formal_436_bt.ttf) format("truetype");
}

@font-face {
  font-family: "PressStart2P";
  src: local("PressStart2P"), url(../fonts/PressStart2P.ttf) format("truetype");
}

@font-face {
  font-family: "Pxlvetica";
  src: local("Pxlvetica"), url(../fonts/Pxlvetica.ttf) format("truetype");
}
