@font-face {
  font-family: "Diablo_Heavy";
  src: local("Diablo_Heavy"), url(../fonts/Diablo_Heavy.ttf) format("truetype");
}

@font-face {
  font-family: "Diablo_Light";
  src: local("Diablo_Light"), url(../fonts/Diablo_Light.ttf) format("truetype");
}

@font-face {
  font-family: "formal_436_bt";
  src: local("formal_436_bt"),
    url(../fonts/formal_436_bt.ttf) format("truetype");
}

@font-face {
  font-family: "PressStart2P";
  src: local("PressStart2P"), url(../fonts/PressStart2P.ttf) format("truetype");
}

@font-face {
  font-family: "Pxlvetica";
  src: local("Pxlvetica"), url(../fonts/Pxlvetica.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-R";
  src: local("Roboto-Regular"),
    url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-M";
  src: local("Roboto-Medium"),
    url(../fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-H";
  src: local("Roboto-Black"), url(../fonts/Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway-Regular"),
    url(../fonts/Raleway-Regular.ttf) format("truetype");
}
