.email-form-t {
  display: flex;
  flex-direction: column;

  .name-input-container-t,
  .your-email-container-t {
    display: flex;
    margin-bottom: 0.5rem;
    .name-input-t,
    .your-email-t {
      height: 1.4rem;
      width: 18rem;
      background: $traditional-black;
      color: white;
      margin: auto;
    }
  }

  .message-input-container-t {
    display: flex;
    margin-bottom: 0.5rem;
    .message-input-t {
      width: 18rem;
      height: 6rem;
      background: $traditional-black;
      color: white;
      margin: auto;
    }
  }

  .email-button-container-t {
    display: flex;
    .email-submit-button-t {
      margin: auto;
      background: rgb(209, 209, 209);
      border: 2px solid $traditional-black;
      border-radius: 4px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 4px 8px;
      cursor: pointer;
    }

    @media (hover: hover) {
      .email-submit-button-t:hover {
        background: $traditional-blue;
      }
    }
  }
}
