.traditional-layout {
  display: flex;
  flex-direction: column;

  .traditional-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;

    .section-heading {
      text-align: center;
      text-transform: uppercase;
      font-size: 2rem;
      color: $traditional-black;
    }

    .sub-heading {
      font-size: 1.5rem;
      color: $traditional-black;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 992px),
  only screen and (min-device-width: 0px) and (max-width: 992px) {
  .traditional-content {
    width: 90% !important;
  }
}
